@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "./normalize.css";
@import "../CSS/Blog-posts/naruto.css";

body * {
    box-sizing: border-box;
    text-decoration: unset;
}

body {
    font-family: 'Roboto', sans-serif;
    color: hsl(0, 0%, 9%);
    background-color: hsl(0, 0%, 95%);
    
}



/* header start*/ 

.grid-container {
    display: grid;
    grid-template-columns: 0px 1fr auto 1fr 0px;
    grid-template-rows: 400px;
    gap: 20px 20px;
    grid-template-areas: ". header header header .";
    margin-bottom: 20px;

}

.header {
    grid-area: header;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background-image: url(../media/images/allanime\ 2.jpg);
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}


.navbar ul {
    padding-left: unset;
}

.navbar li {
    display: inline;
    font-size: larger;
    padding: 1em;
}


.navbar li a {
    color: lightskyblue;
    font-size: larger;
    font-weight: bolder;
}

.navbar li a:hover {
    color: white;
}

.intro {
    color: white;
    text-align: center;
}

@media only screen and (max-width: 425px) {
    .navbar ul {
        display: flex;
        flex-direction: column;
    }
    .intro {
        display: none;
    }
}

/* header end*/




/* main start*/
.grid-container-two {
    display: grid;
    grid-template-columns: 0px repeat(3, 1fr) 0px;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 20px;
    grid-template-areas: 
    ". oneone onetwo onethree ."
    ". twoone twotwo twothree ."
    ". threeone threetwo threethree .";
    margin-bottom: 20px;
    color: hsl(0, 0%, 95%);
}

.oneone {
    grid-area: oneone;
    background-image: url(../media/images/Naruto.jpg);
}

.onetwo {
    grid-area: onetwo;
    background-image: url(../media/images/DragonBallZ.jpg);
    
}

.onethree {
    grid-area: onethree;
    background-image: url(../media/images/Onepiece.jpg);
}

.twoone {
    grid-area: twoone;
    background-image: url(../media/images/Death\ Note.jpg);
}

.twotwo {
    grid-area: twotwo;
    background-image: url(../media/images/HunterXHunter.jpg);
}

.twothree {
    grid-area: twothree;
    background-image: url(../media/images/Bleach.jpg);
}

.threeone {
    grid-area: threeone;
    background-image: url(../media/images/YuyuHakusho.jpg);
}

.threetwo {
    grid-area: threetwo;
    background-image: url(../media/images/CityHunter.jpg);
}

.threethree {
    grid-area: threethree;
    background-image: url(../media/images/Pokemon.jpg);
}

.btn {
    padding: 1em;
    background-color: hsla(0, 0%, 100%, 0.1);
    color: hsl(0, 0%, 100%);
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: hsl(0, 0%, 9%);
}



.review-container {
    width: max-content;
    align-self: center;
}

.item {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
    background-size: 100% 100%;
    height: 300px;
}

.item h3 {
    align-self: center;
}



@media only screen and (max-width: 425px) {
    .grid-container-two {
        display: grid;
        grid-template-columns: 0px 1fr 0px;
        grid-template-rows: repeat(9, 1fr);
        gap: 15px 15px;
        grid-template-areas: ". oneone ."
        ". onetwo ."
        ". onethree ."
        ". twoone ."
        ". twotwo ."
        ". twothree ."
        ". threeone ."
        ". threetwo ."
        ". threethree .";
        margin-bottom: 130px;
    }

    .oneone {
        grid-area: oneone;
    }

    .onetwo {
        grid-area: onetwo;
    }

    .onethree {
        grid-area: onethree;
    }

    .twoone {
        grid-area: twoone;
    }

    .twotwo {
        grid-area: twotwo;
    }

    .twothree {
        grid-area: twothree;
    }

    .threeone {
        grid-area: threeone;
    }

    .threetwo {
        grid-area: threetwo;
    }

    .threethree {
        grid-area: threethree;
    }


}

/* main end*/


/* Footer */

.grid-container-three {
    display: grid;
    grid-template-columns: 0px repeat(3, 1fr) 0px;
    grid-template-rows: 64px;
    gap: 20px 20px;
    grid-template-areas: ". copyright subs scrollup .";

    width: 100%;
    position: fixed;
    bottom: 0%;
    z-index: 1;
        
}

.copyright {
    grid-area: copyright;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollup {
    grid-area: scrollup;
}



.subs {
    grid-area: subs;
    cursor: pointer;
}
.ft {
    background-color: hsl(0, 0%, 90%);
}

.scrollup-content,
.subs-content {
    height: max-content;
    width: max-content;
    margin: auto;
}

.scrollup-content {
    width: 100%;
}

.scroll {
    color: unset;
    font-size: larger;
    display: inline-block;
    width: 100%;
}


.fa {
    color: black;
    width: 100%;
    text-align: center;
}

.fa:hover {
    color: lightcoral;
}


.subs-content {
    font-size: xxx-large;
    width: 100%;
}

.subs-content a {
    color: unset;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.subs-content a:hover {
    color: lightcoral;
}

.subs-content strong {
    width: 100%;
    display: inline-block;
}

.hidden-desk {
    display: none;
}


@media only screen and (max-width: 425px) {
    .grid-container-three {
        width: 100%;
        position: fixed;
        bottom: 0%;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas: 
        "scrollup"
        "subs"
        "copyright";
    }

    .subs {
        grid-area: subs;
    }

    .scrollup {
        grid-area: scrollup;
    }

    .copyright {
        grid-area: copyright;
    }

    .subs-content {
        font-size: xx-large;
    }

    .visible-desk {
        display: none;
    }

    .hidden-desk {
        display: unset;
    }


}