body {
    color: hsl(0, 0%, 13%);
}

header {
    margin-bottom: 1em;
}
figcaption {
    font-size: xx-small;
}
figure {
    height: 100%;
    width: 100%;
    margin: unset;
}

p {
    line-height: 3;
}

.hidden-intro {
    display: none;
}

.name h1 {
    font-size: xx-large;
    margin: unset;
}

.grid-container-naruto {
    display: grid;
    grid-template-columns: 0px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0px;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 50px 50px;
    gap: 20px 20px;
    margin-bottom: 80px;
}

.name {
    grid-area: 1 / 2 / 2 / 14;
    text-align: center;
}

.p1 {
    grid-area: 2 / 2 / 8 / 8;
}

.p1 img, .p2 img {
    width: 100%;
    height: 100%;
}
.intro1 {
    grid-area: 2 / 8 / 8 / 14;
}

.p2 {
    grid-area: 8 / 8 / 13 / 14;
}

.xdetails {
    grid-area: 8 / 2 / 13 / 8;
}

.sm {
    grid-area: 13 / 2 / 14 / 14;
    font-size: xx-large;
    text-align: center;
    margin: auto;
    color: red;
    font-weight: bolder;
}

.smicon {
    grid-area: 14 / 2 / 15 / 14;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 425px) {


    .grid-container-naruto {
        grid-template-columns: 0px 1fr 0px;
        grid-template-rows: 50px auto auto auto auto auto auto;
        grid-template-areas: 
        ". name ."
        ". p1 ."
        ". intro1 ."
        ". p2 ."
        ". xdetails ."
        ". sm ."
        ". smicon .";
        margin-bottom: 140px;
    }
    
    .name {
        grid-area: name;
    }

    .p1 {
        grid-area: p1;

    }

    .intro1 {
        grid-area: intro1;
    }

    .p2 {
        grid-area: p2;
    }

    .xdetails {
        grid-area: xdetails;
    }

    .sm {
        grid-area: sm;
        
    }

    .smicon {
        grid-area: smicon;
    }

    figcaption {
        font-size: xx-small;
    }

    p {
        margin-top: unset;
        text-align: justify;
    }
}